.Todo_block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.911);
    padding: 10px;
    border-radius: 5px;
}

.Todo_title{
    font-size: 16px;
    display: inline-block;

}